<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/recipe-s.css" />
    <link rel="stylesheet" href="/recipe-l.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Meal Planner</title>
</head>
<script>
    async function removeMeal(mealId) {
        console.log("CLICKED DELETE:", mealId);

        const res = await fetch(`/api/user/meal-planner/${mealId}`, {
            method: "DELETE"
        });

        const data = await res.json();
        console.log(data);

        if (res.ok) {
            location.reload();
        } else {
            alert("Error deleting meal");
        }
    }
</script>
<body>
<div class="week-grid">

    <% Object.keys(planner).forEach(day=> { %>
        <div class="day-column">
            <h2 class="weekday">
                <%= day %>
            </h2>

            <% planner[day].forEach(meal=> { %>
                <div class="meal-week-card">
                    <img src="<%= meal.recipeImage %>" />
                    <p id="recipe-week-name">
                        <%= meal.recipeName %>
                    </p>
                    <small>
                        <%= meal.mealType %>
                    </small>
                    <button onclick="removeMeal('<%= meal._id %>')">
                        Remove
                    </button>
                </div>
                <% }) %>

        </div>
        <% }) %>


</div>
<a href="/">Back to Home Page</a>
</body>
</html>