<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/planner.css" />
    <title>Meal Planner</title>
</head>
<body>
<div class="week-grid">

    <% Object.keys(planner).forEach(day=> { %>
        <div class="day-column">
            <h2>
                <%= day %>
            </h2>

            <% planner[day].forEach(meal=> { %>
                <div class="meal-card">
                    <img src="<%= meal.recipeImage %>" />
                    <p>
                        <%= meal.recipeName %>
                    </p>
                    <small>
                        <%= meal.mealType %>
                    </small>
                    <button onclick="removeMeal('<%= meal._id %>')">
                        Remove
                    </button>
                </div>
                <% }) %>

        </div>
        <% }) %>


</div>
</body>
</html>